
  <section class="py-6 bg-gray-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
              <h2>Winter 2019 Shoot</h2>
              <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 d-flex align-items-md-stretch mb-30px mb-md-0">
              <div style="background: center center url(./images/7.jpg) no-repeat; background-size: cover;" class="d-flex align-items-center text-white dark-overlay w-100 text-center py-6 py-md-0">
                <div class="card-img-overlay w-100 overlay-content">
                  <h2 class="display-2 font-weight-bold text-uppercase mb-0">Terrace </h2>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card border-0 text-white text-center mb-30px dark-overlay"> 
                <img src="./images/8.jpg" alt="Ladies" class="card-img"> 
                <div class="card-img-overlay d-flex align-items-center">
                  <div class="text-center w-100 overlay-content">
                    <h2 class="display-4 font-weight-bold text-uppercase text-center mb-0">Ladies                                               </h2>
                  </div>
                </div>
              </div>
              <div class="card border-0 text-white text-center  dark-overlay"> 
                <img src="./images/9.jpg" alt="Accessories" class="card-img"> 
                <div class="card-img-overlay d-flex align-items-center">
                  <div class="text-center w-100 overlay-content">
                    <h2 class="display-4 font-weight-bold text-uppercase text-center mb-0">Accessories                                               </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 